
@font-face {
  font-family: "Tapeworm";
  src: url("images/Tapeworm-Regular.otf") format("opentype");
}

header{
  font-family: "Tapeworm";

  margin: 20px;

}

#title{
  min-height: 2em;
}

.banner{
  margin-right: 2em;
  color:red;

}


.over{
  filter: blur(15px)  grayscale(100%);

}


#reset{
  font-family: "Tapeworm";
  position: absolute;
  color:#4AF626;
  margin: auto;
  left: 200px;
  top: 250px;
  font-size: 5em;
  -webkit-animation: resetAnim 5s ease-out;
  -webkit-animation-iteration-count: infinite;
   text-shadow: 2px 2px #ff0000;
}


header:hover{
  -webkit-animation: banner 10s ease-out;
  -webkit-animation-iteration-count: 1;
  transition: 5s;
  .banner{

    -webkit-animation: pulsate 10s ease-out;
    -webkit-animation-iteration-count: infinite;
  }

}




.hide{
  visibility: hidden;
}





@-webkit-keyframes banner {
    0% {
        opacity: 1;
        font-size: 100%;

    }


    50% {
        opacity: 0.8;
        font-size: 100%;
        transform: skewX(25deg);
        margin-right: 4em;

    }
    100% {
        opacity: 1;
        font-size: 100%;

    }
}


@-webkit-keyframes pulsate {
    0% {

        color:#8ED6FF;


    }


    50% {

        color:pink;


    }
    100% {

        color:#8ED6FF;

    }
}

@-webkit-keyframes resetAnim {
    0% {


    }


    50% {


        transform: skewX(10deg);


    }
    100% {




    }
}
